@use 'variables' as *;

@mixin card-shadow {
  box-shadow: 0 1px 0 $card-shadow;
}

@mixin list-style {
  background: $list-bg;
  border-radius: $list-border-radius;
  min-height: $list-min-height;
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}
