@use 'variables' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-family;
  font-size: $font-size-base;
  color: $list-header-text;
  -webkit-font-smoothing: antialiased;
}

#__next,
main {
  height: 100%;
}

@include mobile {
  body {
    font-size: $font-size-sm;
  }
}
